<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="http://observing.cliff.dynu.net">Home</a></li>
<li><a href="http://about.observing.cliff.dynu.net">About</a></li>
<li><a href="http://cv.observing.cliff.dynu.net">CV</a></li>
<li><a href="http://tech.observing.cliff.dynu.net">TechBlog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li>Since 2018... </li>
   </ul>
  </footer>
  </body>

</html>
